<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/nv.d3.min.js"></script>
    <style>

      #chart svg {
        height: 400px;
      }

    </style>
  </head>
  <body>
    <h1><%= title %></h1>

 <HR>
<h3>Demo </h3>

    <!--chart 不放 c3_example.js的原因: 要動態展示-->
      <script type="text/javascript">
        d3.json("/javascripts/linePlusBarData.json",function(error,data) {
          nv.addGraph(function() {
            var chart = nv.models.linePlusBarChart()
                            .margin({top: 30, right: 60, bottom: 50, left: 70})
                      //We can set x data accessor to use index. Reason? So the bars all appear evenly spaced.
                            .x(function(d,i) { return i })
                            .y(function(d,i) {return d[1] })
                    ;

            chart.xAxis.tickFormat(function(d) {
              var dx = data[0].values[d] && data[0].values[d][0] || 0;
              return d3.time.format('%x')(new Date(dx))
            });

            chart.y1Axis
                    .tickFormat(d3.format(',f'));

            chart.y2Axis
                    .tickFormat(function(d) { return '$' + d3.format(',f')(d) });

            chart.bars.forceY([0]);

            d3.select('#chart svg')
                    .datum(data)
                    .transition()
                    .duration(0)
                    .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
          });

        });

      </script>
    <div id="chart">
      <svg></svg>
    </div>
    <!--<script src="/javascripts/c3_example.js" type="text/javascript"></script>-->
  </body>
</html>
