<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body>
<!--<span class="glyphicon glyphicon-user"></span>-->
<h1>訂單小計</h1>

<table class="table table-striped table-hover " width="80%">
    <thead>
    <tr>
        <th>timestamp</th>
        <th>level</th>
    </tr>
    </thead>
    <tbody>
<% result.forEach( function ( event ){ %>

<tr>
    <td ><%= event.Subtotal %></td>
    <td ><%= event.OrderID %></td>
</tr>
<% }); %>
    </tbody>
    </table>
</body>
</html>